[core]
  editor = vim
# WSL の場合はコメントアウトを解除してください
#  sshCommand = /mnt/c/WINDOWS/System32/OpenSSH/ssh.exe

[user]
  name = Matsuyuki
  email = matsuyuki.eca@gmail.com
  signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIJ1NXHyBCHmOWBGCUQOZ01ly9aBmYX2imDM6htwTkT/t

[gpg]
  format = ssh
[gpg "ssh"]
  # Windows 側でユーザー名が異なる場合は変更してください
  program = "/mnt/c/Users/matsuyuki/AppData/Local/1Password/app/8/op-ssh-sign-wsl"

[commit]
  gpgsign = true

[push]
  default = simple

